@keyframes slide-in {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.animate-slide-in {
  animation: slide-in 0.3s ease forwards;
}

.btn-dark {
  position: relative;
  overflow: hidden;
  transition: color 0.3s ease;
  z-index: 0;
}

.btn-dark::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(90deg, #4b6cb7, #182848);
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: -1;
}

.btn-dark:hover::before {
  opacity: 1;
}

.btn-dark:hover {
  color: white;
}

