@page "/"

<PageTitle>Home</PageTitle>

@* <div @onclick="@(() => Console.WriteLine("clicked"))">
    <LucideIcon Name="Menu" Size="24" />
</div>
<LucideIcon Name="X" Size="24" />

<LucideIcon Name="Circle" Size="40" /> *@
