/* /Layout/MainLayout.razor.rz.scp.css */

html[b-7eo2afmfqx], body[b-7eo2afmfqx] {
    height: 100%;
    margin: 0;
}

header[b-7eo2afmfqx] {
    position: absolute;
    top: 0;
    z-index: 1000;
}

.page[b-7eo2afmfqx] {
    z-index: 0;
    margin-top: 80px;
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main[b-7eo2afmfqx] {
    flex: 1;
}

/* .sidebar {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
} */

/* .top-row {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row ::deep a, .top-row ::deep .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row ::deep a:hover, .top-row ::deep .btn-link:hover {
        text-decoration: underline;
    }

    .top-row ::deep a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row {
        justify-content: space-between;
    }

    .top-row ::deep a, .top-row ::deep .btn-link {
        margin-left: 0;
    }
} */

@media (min-width: 641px) {
    .page[b-7eo2afmfqx] {
        flex-direction: row;
    }

    .layout-body[b-7eo2afmfqx] {
        display: flex;
        flex-direction: row;
        flex: 1;
    }

    .sidebar[b-7eo2afmfqx] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    /* .top-row {
        position: sticky;
        top: 0;
        z-index: 1;
    } */

    /* .top-row.auth ::deep a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row, article {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    } */
}
/* /Layout/NavMenu.razor.rz.scp.css */
@keyframes slide-in-b-19gca2l794 {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.animate-slide-in[b-19gca2l794] {
  animation: slide-in-b-19gca2l794 0.3s ease forwards;
}

.btn-dark[b-19gca2l794] {
  position: relative;
  overflow: hidden;
  transition: color 0.3s ease;
  z-index: 0;
}

.btn-dark[b-19gca2l794]::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(90deg, #4b6cb7, #182848);
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: -1;
}

.btn-dark:hover[b-19gca2l794]::before {
  opacity: 1;
}

.btn-dark:hover[b-19gca2l794] {
  color: white;
}

